.cards{
	display: flex;
	flex-wrap: wrap;
}
.card{
	padding: 20px;
	margin: 20px 20px 20px 0;
	flex-basis: 300px;
	flex-grow: 1;
	border-radius: 1px;
}
.card p{
	text-align: center;
	margin-top: 0;
}
.card h3{
	text-align: center;
	font-size: 25px;
	margin: 15px auto;
	color: #000000;
}
.card h3:hover{
	opacity: 0.6;
	transition: opacity 0.3s ease;
}
.card img{
	width: 100%;
	border-radius: 1px;
}
.card img:hover{
	filter: brightness(82%);
	transition: filter 0.3s ease;
	cursor: pointer;
}
.card-text{
	display: flex;
	flex-direction: column;
	padding: 0 10px;
	margin: 0;
}
