.footer{
	background-color: white;
	border-radius: 2px;
	padding: 5px;
	margin: auto;
	text-align: center;	
}
.list-inline{
	list-style: none;
	padding: 0;
	margin-top: 25px;
}
.list-inline li{
	display: inline;
	padding: 7px;
}
.list-inline i{
	font-size: 17px;
	color: #000000;
}
.icon-sm{
	cursor: pointer;
	opacity: 1;
	transition: opacity 0.3s ease;
}
.icon-sm:hover{
	opacity: 0.6;
}